# Ignore Python virtual environments
.venv/
venv/

# Ignore __pycache__ files
__pycache__/

# Ignore SQLite database files 
# *.sqlite3
# *.db

# Ignore logs (none yet)
# *.log


# .gitignore
*.db

__pycache__/
*.pyc


# logs
logs/
*.log

# temp

logs/*
!logs/.gitkeep
__pycache__/
